{% extends 'base.html' %}
{% block content %}

<div class = "container">
    <form action = "">
        <div class = "mb-3"> <!-- mb-3 is margin bottom 3 -->
            <label for = "searchMovie" class="form-label">
                Search for Movie:
            </label>
            <input type= "text" class="form-control" name="searchMovie"/> <!--Asocia un texto descripcion con un campo de entrada-->
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for: {{searchTerm}}</p>
    <div class="row row-cols-1 row-cols-md-3 g-4"> <!--define una cuadricula en las pabtallas-->
        {% for movie in movies %}
        <div v-for="movie in movies" class="col">
            <div class="card" style="width: 18rem;">
            <img src="{{movie.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ movie.genre }}</h6>
                <h7 class="card-subtitle mb-2 text-muted">{{ movie.year }}</h7>
                <p class="card-text">{{movie.description}}</p>
                {% if movie.url %}
                    <a href="{{movie.url}}" class="btn btn-primary">Movie Link</a>
                {% endif %}
            </div>
        </div>
    </div>
        {% endfor %}
    </div>
    <br/>
    <br/>
    <br/>
    <h2>Join our mailing list:</h2>
    <form action="{% url 'signup' $}">
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email:</label>
            <input type="email" class="form-control" name="email" >
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    </div>
    {% endblock content %}
